<div class="featured-articles-container">
    <div class="featured-articles">
        <div class="article-card" *ngFor="let article of featuredArticles">
            <div class="article-image">
                <!-- Placeholder image or dynamically fetched if available -->
                <img src="{{article.images[0]}}" alt="{{ article.nom }}" />
            </div>
            <div class="article-content">
                <h3 class="article-title">{{ article.nom }}</h3>
                <p class="article-price">Prix: {{ article.prix | currency:'EUR' }}</p>
                <p class="article-category">Categorie: {{ article.id_categorie }}</p>
                <p class="article-rating">Note: {{ article.note }} / 5</p>
            </div>
            <div class="article-actions">
                <button class="btn btn-outline-secondary">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>
