.categories-container {
    width: 100%; /* Take full width of the parent container */
    display: flex;
    flex-direction: column; /* Stack links vertically */
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
  
  /* Style du lien */
  .categorie {
    display: inline-block; /* Nécessaire pour appliquer la hauteur */
    height: 20px; /* Hauteur du lien */
    line-height: 20px; /* Aligne le texte verticalement */
    font-size: 16px; /* Taille du texte */
    color: var(--text); /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement par défaut */
    transition: all 0.2s ease; /* Animation fluide sur hover */
    padding-bottom: 10px;
  }

  .titre {
    display: inline-block; /* Nécessaire pour appliquer la hauteur */
    height: 20px; /* Hauteur du lien */
    line-height: 20px; /* Aligne le texte verticalement */
    font-size: 18px; /* Taille du texte */
    color: var(--text); /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement par défaut */
    transition: all 0.2s ease; /* Animation fluide sur hover */
    padding-bottom: 10px;
    margin-bottom: 40px;
    align-self: center;
  }
  
  /* Effet au survol */
  .categorie:hover {
    text-decoration: underline; /* Ajout du soulignement */
    transform: scale(1.05); /* Grossissement léger */
  }